language: python
python:
 - "3.4"
 - "2.7"
# command to install dependencies
install:
 - pip install -q Django==$DJANGO_VERSION
 - pip install neo4django
 - pip install -r requirements.txt
 # install Neo4j locally:
 #- wget dist.neo4j.org/neo4j-community-2.2.0-unix.tar.gz
 #- tar -xzf neo4j-community-2.2.0-unix.tar.gz
 #- sed -i.bak s/dbms.security.auth_enabled=true/dbms.security.auth_enabled=false/g neo4j-community-2.2.0/conf/neo4j-server.properties
 #- neo4j-community-2.2.0/bin/neo4j start
# command to run tests
script: nosetests eb_django_app/neo4j/
env:
 - DJANGO_VERSION=1.8.3
 - DJANGO_SETTINGS_MODULE=eb_django_app.settings
 #- NEO4J_VERSION=2.2.3
branches:
 only:
  - master
